<!-- <p>
  donnee works!!
</p> -->
<!-- 
<kendo-grid
  [data]="Data"
  [height]="410"
>
<ng-template *ngFor="let col of columns">
  <kendo-grid-column title="'test'"></kendo-grid-column>
</ng-template>
</kendo-grid> -->


<kendo-grid
  [data]="Data"
  [height]="533"
  [pageSize]="" [skip]="" [sort]=""
  [pageable]="true" [sortable]="true"
  (dataStateChange)="onStateChange($event)"
  [navigable]="true"
>

  <kendo-grid-column field="dateVente" title="Date vente">
      <ng-template kendoGridEditTemplate let-dataItem="Data">
          <!-- <input [(ngModel)]="d.dateVente" kendoGridFocusable name="date_vente" class="k-textbox" type="datetime" required/> -->
      </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="dateValidee" title="Date validité">
      <ng-template kendoGridEditTemplate let-dataItem="Data">
          <!-- <input [(ngModel)]="dataItem.date_validee" kendoGridFocusable name="date_validee" class="k-textbox" type="datetime"/> -->
      </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="canal" title="Canal">
    <ng-template kendoGridEditTemplate let-dataItem="Data">
        <!-- <input [(ngModel)]="dataItem.canal" kendoGridFocusable name="canal" class="k-textbox"/> -->
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="type" title="Type">
    <ng-template kendoGridEditTemplate let-dataItem="Data">
        <!-- <input [(ngModel)]="dataItem.type" kendoGridFocusable name="type" class="k-textbox"/> -->
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="category" title="Cat.">
    <ng-template kendoGridEditTemplate let-dataItem="Data">
        <!-- <input [(ngModel)]="dataItem.category" kendoGridFocusable name="cat" class="k-textbox"/> -->
    </ng-template>
  </kendo-grid-column>
  
  <kendo-grid-column field="classe" editor="numeric" title="Cl.">
      <ng-template kendoGridEditTemplate let-dataItem="Data">
          <!-- <input
              [(ngModel)]="dataItem.classe"
              kendoGridFocusable
              name="classe"
              required
              min="0"
              max="99"
              class="k-textbox"
              type="number"/> -->
      </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="produit" title="Produit">
    <ng-template kendoGridEditTemplate let-dataItem="Data">
        <!-- <input [(ngModel)]="dataItem.produit" kendoGridFocusable name="produit" class="k-textbox"/> -->
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="nb" editor="numeric" title="Nb">
    <ng-template kendoGridEditTemplate let-dataItem="Data">
        <!-- <input
            [(ngModel)]="dataItem.nb"
            kendoGridFocusable
            name="nb"
            required
            min="0"
            max="99"
            class="k-textbox"
            type="number"/> -->
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="prix" title="Prix">
    <ng-template kendoGridEditTemplate let-dataItem="Data">
      <!-- <input [(ngModel)]="dataItem.prix.currency" kendoGridFocusable name="prix" class="k-textbox"/> -->
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="dateAjout" title="Date D'ajout">
    <ng-template kendoGridEditTemplate let-dataItem="Data">
      <!-- <input [(ngModel)]="dataItem.date_ajout" kendoGridFocusable name="date_ajout" class="k-textbox" type="datetime" required/> -->
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="dateModif" title="Date modif.">
    <ng-template kendoGridEditTemplate let-dataItem="Data">
      <!-- <input [(ngModel)]="dataItem.date_modif" kendoGridFocusable name="date_modif" class="k-textbox" type="datetime"/> -->
    </ng-template>
  </kendo-grid-column>
            
</kendo-grid> 

<button kendoButton *ngIf="!dialogOpened && !windowOpened" (click)="open('dialog')" [icon]="'plus-outline'">Add New</button>



<kendo-dialog title="Add New Records" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="250" [width]="450">

<div class="col-xs-12 col-md-6">
  <!-- <label [for]="vente">Date vente: </label> -->
  <p>Date vente:</p>
  <kendo-datepicker id="vente"
      [(value)]="newRecVal"
      [format]="'dd/MM/yyyy'"
  ></kendo-datepicker>
</div>

<div class="col-xs-12 col-md-6">
  <label [for]="valide">Date validé: </label>
  <kendo-datepicker id="valide"
      [(value)]="newRecVal"
      [format]="'dd/MM/yyyy'"
  ></kendo-datepicker>
</div>

<div class="col-xs-12 col-md-6">
  <label [for]="'canal'">Canal: </label>
  <input id="canal" />
</div>

</kendo-dialog>