<div class="content-top__button">
  <button kendoButton [icon]="'sort-desc'">Filters</button>
  <button kendoButton (click)="open()" [icon]="'plus'">Importer CSV</button>
</div>
<kendo-grid [data]="data" [height]="500" [sortable]="{mode: 'multiple'}" [sort]="sort"
  (sortChange)="sortChange($event)">
  <kendo-grid-column [headerClass]="'bg--white'" [class]="'bg--white'" field="importDate" title="Date Import"
    width="50">
  </kendo-grid-column>
  <kendo-grid-column [headerClass]="'bg--white'" [class]="'bg--white'" field="errorMessage" title="Message d'erreur"
    width="50">
  </kendo-grid-column>
  <kendo-grid-column [headerClass]="'bg--white'" [class]="'bg--white'" field="error" title="Erreurs" width="50">
  </kendo-grid-column>
  <kendo-grid-column [headerClass]="'bg--white'" [class]="'bg--white'" field="importType" title="Nom du fichier"
    width="50">
  </kendo-grid-column>
  <kendo-grid-column [headerClass]="'bg--white'" [class]="'bg--white'" field="source" title="Source" width="50">
  </kendo-grid-column>
</kendo-grid>


<kendo-window [top]="200" [width]="500" [height]="200" title="Imports CSV" *ngIf="opened" (dragStart)="onDragStart()"
  (dragEnd)="onDragEnd()" (resizeStart)="onResizeStart()" (resizeEnd)="onResizeEnd()"
  (stateChange)="onStateChange($event)" (close)="onClose()">
  <kendo-upload [saveUrl]="saveUrl" [restrictions]="uploadRestrictions" (success)="successEventHandler($event)">
    <kendo-upload-messages select="Sélectionnez les fichiers" invalidFileExtension="Type de fichier invalide">
    </kendo-upload-messages>
  </kendo-upload>
</kendo-window>
