<div class="analyse">
  <div class="analyse--small">
    <div class="box">
      <kendo-chart>
        <kendo-chart-title align="left" text="Statut"></kendo-chart-title>
        <kendo-chart-legend position="top"></kendo-chart-legend>
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item [categories]="['Ouvert','Correction requise', 'Validé']">
          </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" *ngFor="let item of seriesType" [gap]="2" [data]="item"
            [name]="seriesKey">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>
    <div class="box">
      <kendo-pdf-export #pdf paperSize="A3" margin="2cm">
        <kendo-chart>
          <kendo-chart-title align="left" text="Fichiers importés"></kendo-chart-title>
          <kendo-chart-legend position="top" orientation="horizontal"></kendo-chart-legend>
          <kendo-chart-series>
            <kendo-chart-series-item type="donut" [data]="data" categoryField="name" field="value">
              <kendo-chart-series-item-labels [content]="labelContent" color="#fff" background="none">
              </kendo-chart-series-item-labels>
            </kendo-chart-series-item>
          </kendo-chart-series>
          <kendo-chart-legend [visible]="false"></kendo-chart-legend>
        </kendo-chart>
      </kendo-pdf-export>
    </div>
  </div>
  <div class="analyse--large">
    <div class="box--large">
      <kendo-chart>
        <kendo-chart-title align="left" text="Erreurs par mois"></kendo-chart-title>
        <kendo-chart-legend position="top" orientation="horizontal"></kendo-chart-legend>
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item [categories]="['Jan', 'Feb', 'Mar', 'Apr']" [title]="{ text: 'Months' }">
          </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-series>
          <kendo-chart-series-item [line]="{ style: style }" type="area" *ngFor="let item of lines" [data]="item.data"
            [name]="item.name">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>
  </div>
</div>
