<kendo-grid [kendoGridBinding]="donnees" 
 [style.height]="'100%'" 
 [resizable]="true" 
 [sortable]="true"
 [pageable]="true"
 [pageSize]="14">
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add new</button>
  </ng-template>
  <kendo-grid-column field="dateVente" title="Date vente"></kendo-grid-column>
  <kendo-grid-column field="dateValidee" title="Date validité"></kendo-grid-column>
  <kendo-grid-column field="canal" title="Canal"></kendo-grid-column>
  <kendo-grid-column field="type" title="Type"></kendo-grid-column>
  <kendo-grid-column field="category" title="Cat."></kendo-grid-column>
  <kendo-grid-column field="classe" title="Cl."></kendo-grid-column>
  <kendo-grid-column field="produit" title="Produit"></kendo-grid-column>
  <kendo-grid-column field="nb" title="Nb"></kendo-grid-column>
  <kendo-grid-column field="Prix.currency" title="Prix"></kendo-grid-column>
  <kendo-grid-column field="dateAjout" title="Date D'ajout"></kendo-grid-column>
  <kendo-grid-column field="dateModif" title="Dernière modif."></kendo-grid-column>
  <kendo-grid-command-column title="command" width="200">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridRemoveCommand>Remove</button>
        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
    </ng-template>
</kendo-grid-command-column>
</kendo-grid>