<kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [showFileList]="true" [responseType]="blob"
  [restrictions]="uploadRestrictions" (select)="selectEventHandler($event)">
  <kendo-upload-messages select="Add images"></kendo-upload-messages>
</kendo-upload>
<kendo-grid>
  <kendo-grid-column field="DateImport" title="Date Import" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="Transactions" title="Transactions" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="Erreurs" title="Erreurs" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="TypeFichier" title="Type Fichier" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="Source" title="Source" width="150">
  </kendo-grid-column>
</kendo-grid>
