ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.teamMate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamMate:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.teamMate h2 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.teamMate p {
  margin: 0;
  font-size: .8em;
}

.teamMate img {
  display: inline-block;
  vertical-align: top;
  width: 75px;
  height: 75px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.mate-info {
  display: inline-block;
  vertical-align: top;
}

//=============== custom =============//

.sideMenu {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0 10px;

  &--title {
    font-size: 3em;
    font-family: sans-serif;
    margin: 40px 20px;
  }

  &--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
    text-align: left;
    padding: 10px 20px;
    color: #fff;
    background: transparent;

  }

  &--bottom:first-of-type {
    margin-top: 20px;

  }

  &--content {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0;
  }

  &--year {
    font-size: 20px;
  }

  &--status {
    font-size: 12px;
    opacity: 0.5;
  }
}

.dashboard {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fdfdfd;

  &--details {
    display: flex;
    margin: 20px 0 20px 20px;
  }

  &--content {
    width: 100%;
  }

  &--buttons {
    button {
      margin: 0 10px;

    }
  }

  &--topContent {
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }


  .hidden {
    display: none;
  }
}
