<!-- <div class="dashboard"> -->
<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" [mode]="'push'">
    <div class="sideMenu">
      <div class="sideMenu--title">REPLEX</div>
      <div class="teamMate">
        <img [src]="'https://via.placeholder.com/150'" alt="Nancy Leverling">
        <span class="mate-info">
          <h2>Nancy Leverling</h2>
          <p>Sales Associate</p>
        </span>
      </div>
      <kendo-buttongroup [selection]="'single'" class="sideMenu--content">
        <button *ngFor="let item of data" kendoButton [toggleable]="true" (click)="GetData(item.id)"
          class="sideMenu--list">
          <div class="">
            <div class="sideMenu--year">{{ item.year }}</div>
            <div class="sideMenu--status">{{ item.status }}</div>
          </div>
          <span [ngClass]="getIcons(item.icon)"></span>
        </button>
      </kendo-buttongroup>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content>

    <div class="dashboard--topContent">
      <kendo-buttongroup [selection]="'single'" class="dashboard--buttons">
        <button kendoButton [toggleable]="true" (click)="goToPage('/analyse')" [icon]="'search'">Analyse</button>
        <button kendoButton [toggleable]="true" (click)="goToPage('/donnee')" [icon]="'list-bulleted'">Données</button>
        <button kendoButton [toggleable]="true" (click)="goToPage('/imports')" [icon]="'login'">Imports</button>
        <kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" class="hidden"></kendo-upload>
      </kendo-buttongroup>
      <div class="dashboard--buttons">
        <button kendoButton (click)="onButtonUploadClick($event)" [icon]="'sort-desc'">Filters</button>
        <button kendoButton (click)="pdf.saveAs('invoice.pdf')" [icon]="'download'">Export as PDF</button>
      </div>
    </div>
    <div class="dashboard--details">
      <router-outlet></router-outlet>
    </div>
    <button kendoButton (click)="_toggleSidebar()">Change</button>

  </div>
</ng-sidebar-container>
